:root {
  --violet-color: #6366f1;
  --white-color: rgba(255, 255, 255, 1);
  --gray-color: #1f2937;
  --gray-color-dark: #374151;
  --gray-color-light: #9ca3af;
  --gray-blue-color: #f1f5f9;
  --gray-blue-color-medium: #6B7280;
  --gray-blue-color-medium-light: #E5E7EB;
  --gray-blue-color-light: #f8fafc;
}

:root {
  --violet-gradient: linear-gradient(180deg, rgba(99, 102, 241, 1) 0%, rgba(139, 92, 246, 1) 100%);
}
