html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
app-root {
  width: 100%;
}

.standard-title {
  font-family: var(--font-standard-family);
  font-size: var(--font-md-size);
  font-weight: var(--font-weight-bold);
  color: var(--font-light-color);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}
